# Ignore authentication credentials
token.json
client_secrets.json
live_stream.py-oauth2.json

# Ignore system files
.DS_Store
Thumbs.db

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore logs and temporary files
logs/
*.log
*.tmp

live_url.txt

.env
node_modules/